@media print {
  @page {
    size: letter portrait;
    margin: 0.5in;
  }

  body {
    visibility: hidden;
  }

  .dontbreak {
    break-inside: avoid-page;
  }

  #resume {
    all: unset;
    visibility: visible;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
    position: absolute;
    left: 0.5in;
    top: 0.5in;
    width: calc(100% - 1in);
    margin: 0;
  }
}

li {
  color: black;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Georgia";
  font-style: normal
}

.c2 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Georgia";
  font-style: normal
}

.c3 {
  padding-top: 0pt;
  padding-bottom: 4pt;
  line-height: 1.0;
  text-align: left;
  margin-right: 15pt
}

.c6 {
  color: #000000
}

.c8 {
  font-weight: 400
}

.c10 {
  color: inherit;
  text-decoration: inherit
}

.c12 {
  border-right-style: solid;
  padding: 7.2pt 7.2pt 7.2pt 7.2pt;
  border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 380pt;
  border-top-color: #ffffff;
  border-bottom-style: solid
}

.c13 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Georgia";
  font-style: normal
}

.c15 {
  margin-left: -4.5pt;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto
}

.c16 {
  color: #666666;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 6pt;
  font-family: "Georgia";
  font-style: normal
}

.c20 {
  height: 9pt
}

.c21 {
  height: 80pt;
}

.c22 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-family: "Georgia"
}

.c25 {
  border-right-style: solid;
  padding: 7.2pt 7.2pt 7.2pt 0pt;
  border-bottom-color: #ffffff;
  border-top-width: 0pt;
  border-right-width: 0pt;
  border-left-color: #ffffff;
  vertical-align: top;
  border-right-color: #ffffff;
  border-left-width: 0pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 0pt;
  width: 140pt;
  border-top-color: #ffffff;
  border-bottom-style: solid
}

.c30 {
  font-size: 11pt;
  font-style: italic
}

.c31 {
  font-family: "Georgia";
  font-weight: 700
}

.c32 {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left;
  margin-right: 15pt
}

.c33 {
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Georgia";
  font-style: normal
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Georgia";
  line-height: 1.0;
  text-align: center
}

.subtitle {
  padding-top: 0pt;
  color: #000000;
  font-size: 10pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.15;
  text-align: left;
}

.competencies {
  padding-top: 0pt;
  color: #000000;
  font-size: 10pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.15;
  text-align: center;
  text-wrap-mode: wrap;
  text-wrap-style: balance;
}

.experience {
  padding-top: 0pt;
  color: #000000;
  background-color: #f0efef;
  font-size: 12pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.15;
  text-align: left;
}

p.contact {
  margin: 0;
  color: black;
  font-size: 9pt;
  font-family: "Georgia"
}

h1.section-head {
  color: #2079c7;
  font-size: 12pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.0;
  text-align: left
}

h2 {
  padding-top: 8pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Georgia";
  line-height: 1.0;
  page-break-after: avoid;
  text-align: left
}

p.accomplishments {

  font-size: 10pt;
}

ul.accomplishments {
  background-color: rgb(247, 245, 245);
  list-style: none;
  text-align: center;
}

.section-head {
  width: 100%;
  font-size: large;
  padding: 3pt;
  color: white;
  text-align: center;
  background-color: #060476;
}

.page-break {
  break-after: page;
}
